<div class="modal-form-container full-width-dialog">
  <h4 class="modal-form-title">Wings Details</h4>


  <div class="content">
    <form [formGroup]="wingsForm" class="container-fluid" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" type="text" formControlName="sw_name">
            <mat-error *ngIf="this.wingsForm.get('sw_name').invalid">
              Please
              Enter Valid Wing Name Like B3,Type 3 etc </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Number of floors" type="number" formControlName="sw_floors">
            <mat-error *ngIf="this.wingsForm.get('sw_floors').invalid">
              Please
              Enter Valid Number of floors </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Flats / offices per floor" type="number" formControlName="sw_flatsperfloor">
            <mat-error *ngIf="this.wingsForm.get('sw_flatsperfloor').invalid">
              Please
              Enter Valid Flats / offices per floor</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="labelStatus">Status </label>
          <mat-radio-group formControlName="sw_isactive" (change)="wingsForm.patchValue({sw_isactive: $event.value})">
            <mat-radio-button class="radioPadding" value='Y' [checked]="this.wingsForm.value.sw_isactive=='Y'">Active
            </mat-radio-button>
            <mat-radio-button class="radioPadding" color="warn" value='N'
              [checked]="this.wingsForm.value.sw_isactive=='N'">Inactive
            </mat-radio-button>
          </mat-radio-group>

        </div>
      </div>


      <!-- <div class="row"> -->
      <div class="button-container modal-buttons">
        <div class="button-left"></div>
        <div class="button-right">
          <button mat-raised-button class="btn-solid">
            <mat-icon>save</mat-icon>
            <span>Save</span>
          </button>
          <button mat-flat-button class="btn-solid" type="button" *ngIf="isEdit" (click)="onDelete()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
          <button mat-flat-button class="btn-solid" type="button" (click)="closeForm(true)">
            <mat-icon>clear</mat-icon>
            <span>Cancel</span>
          </button>
        </div>
      </div>
      <!-- </div> -->
    </form>

    <!-- {{wingsForm.value | json}} -->
  </div>
</div>